@import 'styles/base/_palette.scss';
@import 'styles/base/_mediaQueries.scss';

.userMenuWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7rem;
  text-align: right;
  li {
    color: #fff;
    background: $sunflower;
    padding: 0.75rem 1rem;
    position: relative;
    transition-duration: 0.5s;
    &:hover, &:active {
      background: $mouse-darker;
      cursor: pointer;
    }
  }
  a {
    color: #fff;
  }
}

.dropdown {
  background: $mouse-darker;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0.75rem;
  left: 0;
  display: none;
  width: 100%;
  li {
    border-bottom: 0.0625rem solid #FBF5F3;
  }
}

.userMenuWrapper li:hover > .dropdown,
.userMenuWrapper li .dropdown:hover
.userMenuWrapper li .dropdown:active {
  opacity: 1;
  display: block;
}

.myAccount {
  display: block;
  background: url('images/user.svg') no-repeat;
  background-size: 2.5rem;
  background-position: 100% 50%;
  height: 2.5rem;
  line-height: 2.5rem;
  cursor: pointer;
  & > span {
    display: none;
  }
}

@media screen and (min-width: $tablet-width) {
  .userMenuWrapper {
    width: 10.5rem;
  }

  .myAccount {
    background-position: 0 50%;
    & > span {
      display: block;
    }
  }
}
