@import 'styles/base/_palette.scss';
@import 'styles/base/_mediaQueries.scss';

.showInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 2rem auto;
  h3 {
    font-size: 1.5rem;
    color: $worn-jeans;
    margin-bottom: 2rem;
  }
}

.showImage {
    border-radius: 0.5rem;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    object-fit: contain;
    max-height: 24rem;
}

.description {
  color: $smoky-black;
  margin: 1rem;
  font-size: 0.9rem;
  line-height: 120%;
}

.summary {
  margin-bottom: 2rem;
}

.details {
  margin: 0.5rem 0;
  color: $mouse-darker;
}

.time {
  margin: 2rem 0;
}

.backHome {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: underline;
  color: $raspberry;
  border: 0;
  background: transparent;
  margin: 0 auto 2rem;
  cursor: pointer;
  &:hover {
    color: $raspberry-darker;
  }
  &:active, &:focus {
    outline: none;
  }
}

.addToWatchlist, .removeFromWatchlist {
  color: $white-smoke;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  padding: 0.5rem;
  width: 12rem;
  cursor: pointer;
  &:active, &:focus {
    outline: none;
  }
}

.addToWatchlist {
  background-color: $sunflower;
  &:hover {
    background-color: $sunflower-darker;
  }
}

.removeFromWatchlist {
  background-color: $mouse;
  &:hover {
    background-color: $mouse-darker;
  }
}

@media screen and (min-width: 772px) {
  .showInfo {
    flex-direction: row;
  }
}
