@import 'styles/base/_palette.scss';

.showInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 2rem auto;
  h3 {
    font-size: 1.5rem;
    color: $burgundy;
    margin-bottom: 2rem;
  }
}

.showImage {
    border-radius: 0.5rem;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    object-fit: contain;
    max-height: 24rem;
}

.description {
  color: $smoky-black;
  margin: 1rem;
  font-size: 0.9rem;
  line-height: 120%;
}

.summary {
  margin-bottom: 2rem;
}

.details {
  margin: 0.5rem 0;
  color: $wine-dregs;
}

.time {
  margin: 2rem 0;
}

.backHome {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: underline;
  color: $pewter-darker;
  border: 0;
  background: transparent;
  margin: 0 auto 3rem;
}

@media screen and (min-width: 48.25rem) {
  .showInfo {
    flex-direction: row;
  }
}
