@import 'styles/base/_palette.scss';

.appHeader {
  background-color: $burgundy;
  background-image: url('../../../images/tv.png');
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position: 20% 50%;
  height: 8rem;
  padding: 2rem;
  color: $white-smoke;
  margin: 0.5rem;
  text-align: center;
  p {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 1rem;
  }
}

.appTitle {
  font-size: 2.5rem;
}
