@import 'styles/base/_palette.scss';

.watchlistEmpty {
  text-align: center;
  margin-top: 2rem;
}

.watchlistWrapper {
  padding: 2rem;
  h4 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: $worn-jeans;
    text-transform: uppercase;
  }
}

.watchlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    margin: 0.75rem 1.5rem;
    max-width: 8rem;
  }
}

.watchlistItem, .watchlistCaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.watchlistItem {
  img {
    width: 8rem;
    height: auto;
    margin-bottom: 1rem;
  }
}

.title {
  font-size: 0.85rem;
  display: block;
  height: 3.5rem;
  line-height: 1.2rem;
  text-align: center;
  color: $worn-jeans;
  text-decoration: underline;
  &:hover {
    color: $worn-jeans-darker;
  }
}

.removeFromWatchlist, .clearWatchlist {
  color: $white-smoke;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  &:active, &:focus {
    outline: none;
  }
}

.removeFromWatchlist {
  background-color: $mouse;
  font-size: 0.8rem;
  &:hover {
    background-color: $mouse-darker;
  }
}

.clearWatchlist {
  background-color: $raspberry;
  font-size: 0.9rem;
  margin: 2rem auto;
  display: block;
  &:hover {
    background-color: $raspberry-darker;
  }
}
