@import 'styles/base/_palette.scss';

.showListElement {
  flex-basis: 5rem;
  padding: 1.5rem;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  &:hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $pewter-darker;
    opacity: 0.1;
  }
  figcaption {
    margin: 1rem 0;
  }
}

.showTitle {
  font-size: 1rem;
  color: $wine-dregs;
  line-height: 125%;
  margin-bottom: 1rem;
}

.episodeTitle {
  font-size: 0.8rem;
  line-height: 125%;
  color: $pewter-darker;
}
