@import 'styles/base/_palette.scss';

.selectWrapper {
  margin: 2rem auto;
  padding: 0;
  border: none;
  width: 10rem;
  height: 2rem;
  overflow: hidden;
  background-color: $mouse-darker;
  background-image: url('images/down-arrow.svg');
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: 95% 50%;
}

.select {
  padding: 0.25rem 0.5rem;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: $white-smoke;
  font-size: 0.9rem;
  background-image: none;
  appearance: none;
  display: block;
  line-height: 1.5rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}