.detailsWrapper {
  display: none;
}

.toggleDetailsButton {
  margin: 1rem auto;
  border: 0;
  color: #fff;
  background-color: #666;
  width: 8rem;
  height: 2rem;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  &:active, &:focus {
    outline: 0;
  }
}

.summary {
  max-height: 0;
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .25s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  font-size: 0.9rem;
  color: #333;
  line-height: 1.3rem;
}

.showPageButton {
  display: none;
  margin: 1rem auto;
  border: 0;
  color: #111;
  background: none;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  &:active, &:focus {
    outline: 0;
  }
}

.summary.visible {
  max-height: 40rem;
  transition-property: all;
  transition-duration: .1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.summary.visible, .detailsWrapper.visible, .showPageButton.visible {
  display: block;
}
