$white-smoke: #FBF5F3;

$sunflower-lighter: #EABD54;
$sunflower: #E6AF2E;
$sunflower-darker: #D2A02A;

$mouse: #BEB7A4;
$mouse-darker: #888;

$worn-jeans: #56617E;
// $indigo: #3D348B;
$raspberry: #AF1B3F;
$raspberry-darker: #9b1838;

$smoky-black: #0F0E0E;
